aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
amqp==5.3.1
anyio==4.9.0
appdirs==1.4.4
asgiref==3.8.1
astroid==2.15.8
attrs==25.3.0
billiard==4.2.1
black==25.1.0
boto3==1.38.40
botocore==1.38.40
celery==5.5.3
certifi==2025.6.15
cffi==1.17.1
cfgv==3.4.0
channels==4.2.2
channels_redis==4.2.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==45.0.4
datetime-truncate==1.1.1
decouple==0.0.7
defusedxml==0.7.1
distlib==0.3.9
dj-database-url==3.0.0
Django==5.2.3
django-admin-charts==1.5.0
django-admin-interface==0.30.1
django-appconf==1.1.0
django-bower==5.2.0
django-celery-beat==2.8.1
django-ckeditor-5==0.2.18
django-colorfield==0.14.0
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
django-environ==0.12.0
django-extensions==4.1
django-filter==25.1
django-grappelli==4.0.2
django-imagekit==5.0.0
django-jazzmin==3.0.1
django-js-asset==3.1.2
django-memoize==2.3.1
django-migration-linter==5.2.0
django-modeltranslation==0.19.15
django-multiselectfield==1.0.1
django-nvd3==0.10.1
django-oauth-toolkit==3.0.1
django-parler==2.3
django-parler-rest==2.2
django-phonenumber-field==8.1.0
django-ratelimit==4.1.0
django-redis==6.0.0
django-rest-framework==0.1.0
django-silk==5.4.0
django-storages==1.14.6
django-stubs==5.2.2
django-stubs-ext==5.2.2
django-timezone-field==7.1
django-unfold==0.5.0
django-upgrade==1.25.0
django_celery_results==2.6.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.8.1
ecdsa==0.19.1
environ==1.0
factory_boy==3.3.3
Faker==37.4.0
filelock==3.18.0
flake8==6.1.0
flake8-bugbear==24.12.12
flake8-django==1.4
frozenlist==1.7.0
gprof2dot==2025.4.14
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
identify==2.6.12
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
isort==6.0.1
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jwcrypto==1.5.6
kombu==5.5.4
lazy-object-proxy==1.11.0
MarkupSafe==3.0.2
marshmallow==4.0.0
mccabe==0.7.0
msgpack==1.1.1
multidict==6.6.4
mypy_extensions==1.1.0
nodeenv==1.9.1
oauthlib==3.3.1
orjson==3.10.18
packaging==25.0
pathspec==0.12.1
phonenumbers==9.0.7
pilkit==3.0
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
prompt_toolkit==3.0.51
propcache==0.3.2
psycopg2-binary==2.9.10
pyasn1==0.6.1
pycodestyle==2.11.1
pycparser==2.22
pyflakes==3.1.0
Pygments==2.19.1
PyJWT==2.9.0
pyotp==2.9.0
pytest==8.4.1
pytest-django==4.11.1
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-jose==3.5.0
python-nvd3==0.16.0
python-slugify==8.0.4
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
qrcode==8.2
redis==6.2.0
referencing==0.36.2
requests==2.32.4
requests-oauthlib==2.0.0
rpds-py==0.25.1
rsa==4.9.1
s3transfer==0.13.0
sentry-sdk==2.30.0
six==1.17.0
sniffio==1.3.1
social-auth-app-django==5.4.3
social-auth-core==4.6.1
sqlparse==0.5.3
structlog==25.4.0
text-unidecode==1.3
tokenize_rt==6.2.0
toml==0.10.2
transaction==5.0
types-PyYAML==6.0.12.20250822
typing_extensions==4.14.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
virtualenv==20.31.2
watchdog==6.0.0
wcwidth==0.2.13
whitenoise==6.9.0
wrapt==1.17.2
yarl==1.20.1
zope.interface==7.2
